@import "tailwindcss";

:root {
  /* Force Dark Mode colors by default */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 
   We typically would have a media query here for dark mode, 
   but we want to FORCE it always, so we don't switch variables.
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
